@import url("/assets?name=colors.css");
@import url("/assets?name=globals.css");

body {
  background-color: #1d80fe;
}

.main-container,
.buttons-container {
  text-align: center;
}

.buttons-container {
  margin: auto;
  width: 95%;
  padding-top: 5%;
}

#top-bar {
  display: flex;
  flex-direction: row;
  margin: 1rem 20rem 0 20rem;
  justify-content: space-between;
}

#top-bar-logo {
  align-self: center;
}

#top-bar-title {
  color: var(--necc-title);
}

/* Buttons properties */
.button {
  /* Button's background color */
  background: #fbe21f;
  /* I tested that the color must be solid, it wasn't working for me otherwise */
  border: 1px solid #d0ba0e;
  /* Text color */
  color: black;
  /* Wide padding, and then High padding */
  padding: 1% 0.5%;
  /* Just to make all buttons the same width */
  width: 65%;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  #top-bar {
    flex-direction: column;
    margin: 1rem 10rem 0 10rem;
  }
}

@media screen and (max-width: 768px) {
  #top-bar {
    margin: 1rem 5rem 0 5rem;
  }
}
