@import url("/assets?name=colors.css");
@import url("/assets?name=globals.css");

body {
  background-color: #1d80fe;
}

.main-container,
.buttons-container {
  text-align: center;
}

.buttons-container {
  margin: auto;
  width: 95%;
  padding-top: 5%;
}

.necc-logo,
.title {
  display: inline-block;
}

.necc-logo {
  padding-right: 9vw;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  color: white;
  padding-left: 9vw;
}

/* Buttons properties */
.button {
  /* Button's background color */
  background: #fbe21f;
  /* I tested that the color must be solid, it wasn't working for me otherwise */
  border: 1px solid #d0ba0e;
  /* Text color */
  color: black;
  /* Wide padding, and then High padding */
  padding: 1% 0.5%;
  /* On hover, what cursor to turn into */
  cursor: pointer;
  /* Just to make all buttons the same width */
  width: 65%;
}

hr {
  width: 80%;
  border: 1px #f0b310 solid;
}

span {
  font-size: 1vw;
}

@media screen and (max-width: 1501px) {
  span {
    font-size: 3vw;
  }
  .title {
    font-size: 4vw;
  }
}

@media screen and (max-width: 1000px) {
  span {
    font-size: 5vw;
  }
  .title {
    font-size: 6vw;
  }
}

/* If the screen size is 503 wide or less
move the top bar elements around so that they fall on top of
each other */
@media screen and (max-width: 503px) {
  .top-bar {
    text-align: center;
  }
  .necc-logo,
  .title {
    display: flex;
  }
  .necc-logo {
    padding-right: 0;
    padding-left: 25%;
    padding-bottom: 1vw;
  }

  .title {
    padding-left: 25%;
    padding-top: 1vw;
  }
}
