#modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 30%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: var(--modal-background-shadow);
}
/* TODO: Customize modal */
.modal-content {
  background-color: var(--modal-body);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--modal-body-border);
  width: 80%;
}

#modal-text {
  color: var(--modal-text);
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 5%;
}

.button-group {
  justify-content: space-between;
}
