@import url("/assets?name=colors.css");
@import url("/assets?name=globals.css");

body {
  background-color: #5891c4;
}

hr {
  width: 80%;
  border: 1px var(--necc-yellow-prim) solid;
}

#main-container {
  padding: 0;
}

.container.row {
  justify-content: center;
}

.inputs-dates {
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.inputs-dates,
.inputs-dates-right {
  display: flex;
}

.inputs-dates-right {
  justify-content: center;
}

.input-labels,
.input-radios {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input,
.button {
  margin-bottom: 10px;
  border: 2px var(--necc-yellow-prim) solid;
  border-radius: 5px;
}

.button {
  padding: 1%;
  background: var(--necc-yellow-prim);
}

.button:hover,
.button:focus {
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .inputs-dates {
    flex-direction: column;
  }

  .input-labels,
  .input-radios {
    justify-content: center;
  }
}
