@font-face {
  font-family: "Open Sans";
  src: URL("/assets?name=fontOpenSans-Regular.ttf") format("truetype"),
    URL("/assets?name=fontOpenSans-Regular.woff") format("woff");
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #5891c4;
}

hr {
  width: 80%;
  border: 1px #f0b310 solid;
}

#main-container {
  padding: 0;
}

.container.row {
  justify-content: center;
}

.inputs-dates {
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.inputs-dates,
.inputs-dates-right {
  display: flex;
}

.inputs-dates-right {
  justify-content: center;
}

.input-labels,
.input-radios {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input,
.button {
  margin-bottom: 10px;
  border: 2px #f0b310 solid;
  border-radius: 5px;
}

.button {
  padding: 1%;
  background: #f0b310;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .inputs-dates {
    flex-direction: column;
  }

  .input-labels,
  .input-radios {
    justify-content: center;
  }
}
