:root {
  --hc: #ffee6b;
  --cc: #1d80fe;
}
.button {
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.button:focus {
  outline: none;
}
.button:active::before {
  background: radial-gradient(circle closest-side, var(--cc), transparent);
}
.button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, var(--hc), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
.button:hover::before {
  --size: 100px;
}

.button span {
  font-family: "Open Sans", sans-serif;
  position: relative;
  pointer-events: none;
}
