body {
    background-color: #1D80FE;
}

.buttons-container {
    margin: auto;
    width: 40%;
    padding: 10%;
}
/* Buttons properties */
.buttons-container button{
    background-color: #FBE21F; /* Button's background color */
    border: 1px solid #D0BA0E; /* I tested that the color must be solid, it wasn't working for me otherwise */
    color: black; /* Text color */
    padding: 10px 24px; /* Wide padding, and then High padding */
    cursor: pointer; /* On hover, what cursor to turn into */
    display: block; /* This makes them appear below each other */
    width: 65%; /* Just to make all buttons the same width */
}