#slideshow-container,
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}

.slide {
  display: none;
}

.fade {
  animation: fade;
  animation-duration: 1.5s;
  -webkit-animation: fade;
  -webkit-animation-duration: 1.5s;
  -moz-animation: fade;
  -moz-animation-duration: 1.5s;
}

.rotate {
  animation: rotate;
  animation-duration: 1.5s;
  -webkit-animation: rotate;
  -webkit-animation-duration: 1.5s;
  -moz-animation: rotate;
  -moz-animation-duration: 1.5;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    opacity: 0.1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    opacity: 0.1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    opacity: 0.1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
