#slideshow-container,
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}

.slide {
  display: none;
}

.fade {
  animation: fade;
  animation-duration: 1.5s;
  -webkit-animation: fade;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
