@font-face {
  font-family: "Open Sans";
  src: URL("/assets?name=fontOpenSans-Regular.ttf") format("truetype"),
    URL("/assets?name=fontOpenSans-Regular.woff") format("woff");
}

/* TODO: Temporary color */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #5891c4;
}

.title {
  color: white;
}

.description {
  width: 80%;
}

.top-bar {
  justify-content: center;
  margin-top: 1rem;
}

.top-bar > .col {
  align-self: center;
  text-align: center;
}

.input,
.button {
  margin-bottom: 10px;
  border: 2px #f0b310 solid;
  border-radius: 5px;
}

.button {
  background: #f0b310;
}

hr {
  width: 80%;
  border: 1px #f0b310 solid;
}
