@font-face {
  font-family: "Open Sans";
  src: URL("/assets?name=fontOpenSans-Regular.ttf") format("truetype"),
    URL("/assets?name=fontOpenSans-Regular.woff") format("woff");
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #5891c4;
}

hr {
  width: 80%;
  border: 1px #f0b310 solid;
}

.top-bar {
  margin-top: 1rem;
  justify-content: center;
}
.top-bar > .col {
  align-self: center;
  text-align: center;
}

.description {
  width: 80%;
}

.container.row {
  justify-content: center;
}

#main-container {
  padding: 0;
}

.title {
  color: white;
}

.button {
  padding: 1%;
  margin-bottom: 10px;
  border: 2px #f0b310 solid;
  border-radius: 5px;
  background: #f0b310;
}

.button:hover,
.button:focus {
  cursor: pointer;
}
