#top-bar {
  display: flex;
  flex-direction: row;
  margin: 1rem 5rem 0 5rem;
  justify-content: center;
}

.top-bar-text {
  display: flex;
  margin: 0 1rem 0 1rem;
  flex-direction: column;
  text-align: center;
}

#top-bar-description,
.top-bar-text {
  width: 80%;
}

#top-bar-title {
  color: white;
}

@media screen and (max-width: 500px) {
  #top-bar {
    flex-direction: column;
    margin: 0;
  }

  #top-bar-description,
  .top-bar-text {
    width: auto;
  }
}
