@font-face {
  font-family: "Open Sans";
  src: URL("/assets?name=fontOpenSans-Regular.ttf") format("truetype"),
    URL("/assets?name=fontOpenSans-Regular.woff") format("woff");
}

body {
  font-family: "Open Sans", sans-serif;
}
