<!DOCTYPE html>
<html lang="en">

<body>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="./js/jquery.plugin.js"></script>
    <script src="./js/jquery.datepick.js"></script>
    <link rel="stylesheet" href="./index.css">
    <script src="./index.js"></script>

    <input class="radio" id="radio-1" type="radio" name="radio" value="interval" />
    <label class="label" for="radio-1">Interval</label>
    <input id="radio-2" class="radio" type="radio" name="radio" value="multiple" />
    <label class="label" for="radio-2">Multiple</label>

    <div id="datepicker"></div>

    <button type="button" id="reset">Reset</button>
    {% comment %} KLUDGE: Creating an invisible text box so we can send it with the form's submit later on {% endcomment %}
    <input id="dpfield" name="dates" />
</body>

</html>