@font-face {
  font-family: "Open Sans";
  src: URL("/assets?name=fontOpenSans-Regular.ttf") format("truetype"),
    URL("/assets?name=fontOpenSans-Regular.woff") format("woff");
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  color: white;
}

.pictures-slider {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: hidden;
  background-color: #410b13;
  margin-bottom: 1%;
}
img {
  height: 9rem;
  width: 16rem;
  padding: 5px;
}
.pictures-slider-wrapper {
  float: left;
}

.outside-container {
  padding-bottom: 3rem;
  background-color: #ba1f33;
}

.created-list.concat > .pictures-slider {
  background-color: #003249;
}

.created-list.concat > .outside-container {
  background-color: #007ea7;
}

.outside-container > p,
.outside-container > button {
  display: inline-block;
}

.outside-container > p {
  padding-left: 1%;
  float: left;
  margin: 0;
}

.outside-container > button {
  float: right;
}

.created-list {
  width: 50%;
  padding-left: 1vw;
}

.pictures-slider:hover {
  overflow-x: auto;
}

.pictures-slider::-webkit-scrollbar {
  visibility: hidden;
  width: 1%; /* width of the entire scrollbar */
}
.pictures-slider::-webkit-scrollbar-track {
  display: none; /* color of the tracking area */
  z-index: 100;
}
.pictures-slider::-webkit-scrollbar-thumb {
  background-color: #007ea7; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}
