<div class="created-list">
  <div class="outside-container">
    <p class="listname">List for Christmas</p>
    <button>Bang</button>
    <button>Bing</button>
    <button>But then</button>
  </div>
  <div class="pictures-slider">
    <div class="pictures-slider-wrapper">
      <img src="http://localhost:8080/image?name=image15.jpg" />
      <img src="http://localhost:8080/image?name=image27.jpg" />
      <img src="http://localhost:8080/image?name=image27.jpg" />
      <img src="http://localhost:8080/image?name=image27.jpg" />
      <img src="http://localhost:8080/image?name=image27.jpg" />
      <img src="http://localhost:8080/image?name=image27.jpg" />
    </div>
  </div>
</div>
