.listname {
  font-size: 2rem;
  color: var(--necc-title);
}

.pictures-slider {
  width: 100%;
  overflow: hidden;
  overflow-y: hidden;
  background-color: var(--playlist-mod-prim);
  margin-bottom: 2rem;
}
img {
  height: 9rem;
  width: 16rem;
  margin: 1rem;
}

.top-banner {
  background-color: var(--playlist-mod-sec);
}

.created-list {
  justify-content: center;
}

.created-list.no-modify > .pictures-slider {
  background-color: var(--playlist-nomod-prim);
}

.created-list.no-modify > .top-banner {
  background-color: var(--playlist-nomod-sec);
}

.set-playlist-wrapper {
  text-align: end;
  padding-top: 1rem;
}

.pictures-slider:hover {
  overflow-x: auto;
}

.pictures-slider::-webkit-scrollbar {
  visibility: hidden;
  width: 1%; /* width of the entire scrollbar */
}
.pictures-slider::-webkit-scrollbar-track {
  display: none; /* color of the tracking area */
  z-index: 100;
}
.pictures-slider::-webkit-scrollbar-thumb {
  background-color: var(--playlist-mod-sec); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--playlist-scrollbar-border); /* creates padding around scroll thumb */
}
