@font-face {
  font-family: "Open Sans";
  src: URL("/assets?name=fontOpenSans-Regular.ttf") format("truetype"),
    URL("/assets?name=fontOpenSans-Regular.woff") format("woff");
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #5891c4;
}

hr {
  width: 80%;
  border: 1px #f0b310 solid;
}

#main-container {
  padding: 0;
}

.top-bar {
  display: flex;
  flex-direction: row;
  margin: 1rem 5rem 0 5rem;
  justify-content: center;
}

.top-bar-text {
  display: flex;
  margin: 0 1rem 0 1rem;
  flex-direction: column;
  text-align: center;
}
.title {
  color: white;
}
.description,
.top-bar-text {
  width: 80%;
}

.container.row {
  justify-content: center;
}

.button {
  padding: 1%;
  margin-bottom: 10px;
  border: 2px #f0b310 solid;
  border-radius: 5px;
  background: #f0b310;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .top-bar {
    flex-direction: column;
    margin: 0;
  }

  .description,
  .top-bar-text {
    width: auto;
  }
}
