@import url("/assets?name=colors.css");
@import url("/assets?name=globals.css");

body {
  background-color: #5891c4;
  margin: 0;
}

.lists.row {
  margin-top: 1rem;
}

.dates.row {
  justify-content: center;
}

hr {
  width: 80%;
  border: 1px var(--necc-yellow-prim) solid;
}

.button {
  margin-bottom: 10px;
  border: 2px var(--necc-yellow-prim) solid;
  border-radius: 5px;
  background: var(--necc-yellow-prim);
}

.button:hover,
.button:focus {
  cursor: pointer;
}
